<!-- <ActionBar title="SideDrawer Button">
    <android>
        <NavigationButton icon="res://ic_menu" (tap)="showSideDrawer($event)">
        </NavigationButton>
    </android>
    <ios>
        <ActionItem icon="res://ic_menu" ios.position="left" (tap)="showSideDrawer($event)"></ActionItem>
    </ios>
</ActionBar> -->

<ActionBar class="action-bar">
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Label text="Tax Application" class="action-title"></Label>
    </StackLayout>
</ActionBar>

<StackLayout *ngIf="!currentGeoLocation">
    <Button text="Turn on location service" (tap)="enableLocationServices()"></Button>
</StackLayout>

<StackLayout class="form" *ngIf="currentGeoLocation">
    <label style="margin-top:10px; padding-top: 10px; width: 80px;" class="s-label" [(ngModel)]="destination" (text)="destination" (tap)="searchDestination()" hint="Where to?"></label>

    <Mapbox alignSelf="center" hideLogo="false" accessToken="pk.eyJ1IjoiYmVuYmF6dXMiLCJhIjoiY2pnMG56M2tzMDlrYjJxcXB0bm9lamZ6ZiJ9.ATP7qydQyn2B_yyAaiCxgg" mapStyle="traffic_day" latitude="{{ Latitude }}" longitude="{{ Longitude }}" hideCompass="true" zoomLevel="15"
        showUserLocation="true" disableZoom="false" disableRotation="false" disableScroll="false" disableTilt="false" (mapReady)="onMapReady($event)">
    </Mapbox>
    <Button class="btn btn-primary btn-active" dock="bottom" text="Book" style="margin: 5;" (tap)="onBookTap()"></Button>

</StackLayout>